@media screen and (max-width: 900px) {
    .hero {
        background-image: url("/images/hero-image_2-large.jpg");
    }
}

@media screen and (max-width: 700px) {
    .post-item span {
        justify-self: right;
    }
}

@media screen and (max-width: 450px) {
    .hero {
        min-height: 300px;
        background-image: url("/images/hero-image_2-small.jpg");
    }
}

@media screen and (min-width: 350px) {
    .restaurant_reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 500px) {
    .restaurant_reviews {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 650px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .app-bar__brand h1 {
        font-size: 1.5em;
    }

    .app-bar .app-bar__menu {
        display: none;
    }

    .app-bar .app-bar__navigation {
        position: static;
        background-color: #f4c95d;
        width: 100%;
    }


    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }

    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }

    .restaurant {
        grid-template-columns: auto 1fr;
    }

    .restaurant .restaurant_name {
        text-align: center;
    }

    .restaurant .restaurant_name,
    .restaurant .restaurant_description,
    .restaurant .reviews {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .restaurant_reviews {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .post-item__content {
        padding: 16px 32px 32px 32px;
    }

    .post-item__title {
        font-size: 18px;
    }

    .post-item__description {
        font-size: 14px;
    }
}

@media screen and (min-width: 700px) {
    .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 850px) {
    .restaurant_reviews {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }

    .hero {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}
